:root {
  --brand-color: #2196f3;
  --first-color: #ffffff;
  --second-color: #757575;
  --third-color: #212121;
  --icon-color: #afb1b8;
  --bg-color: #f5f4fa;
  --btn-hover: #188ce8;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--third-color);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.03em;
  background-color: var(--first-color);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  outline: 1px solid var(--second-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.btn {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--first-color);
  width: 200px;
  height: 50px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--btn-hover);
}
/*--                 BACKDROP                    --*/
.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 611ms 250ms, visibility 611ms 250ms;
}
.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition-property: transform babackground;
  transition-duration: 500ms;
  transition-delay: 250ms;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -250%) scale(0.3) rotate(90deg);
  background: var(--brand-color);
}

.modal-btn {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--brand-color);
}
.icon-modal-close {
  height: 18px;
  width: 18px;
  fill: currentColor;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--third-color);
  margin-bottom: 12px;
}
.form-input,
.form-textarea {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: var(--third-color);
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
}
.form-textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}
.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea::-webkit-scrollbar {
  width: 10px;
}

.form-textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}

.form-textarea::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  outline: 1px solid var(--second-color);
}
.form-input:hover,
.form-textarea:hover,
.form-input:focus,
.form-textarea:focus {
  border-color: var(--brand-color);
}
.form-name {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--second-color);
  display: block;
  margin-bottom: 4px;
}
.form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 53px;
  margin-top: 11px;
  fill: var(--third-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
  fill: var(--brand-color);
}
.form-checkbox {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.checkbox-span {
  border: 2px solid var(--third-color);
  border-radius: 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon {
  fill: transparent;
  width: 16px;
  height: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input-checkbox:checked + .form-checkbox .checkbox-span {
  border: none;
  background-color: var(--brand-color);
}
.form-input-checkbox:checked + .form-checkbox .checkbox-icon {
  fill: var(--first-color);
}
.form-link {
  color: var(--brand-color);
  margin-left: 5px;
  text-decoration: underline;
}
.form-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/* --                    Header                        -- */
.header-box {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-a {
  margin-right: 93px;
}
.nav-span {
  color: var(--third-color);
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  color: inherit;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--brand-color);
}
.header-address {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-address-item:not(:last-child) {
  margin-right: 50px;
}
.header-contact {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.header-contact {
  padding: 32px 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--brand-color);
}
.icon-tel,
.icon-mail {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  position: relative;
  color: var(--brand-color);
}
.current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--brand-color);
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

/*--                    FOOTER                        --*/
.footer {
  background: #2f303a;
  padding: 60px 0;
}
.footer-box {
  display: flex;
  align-items: baseline;
}
.footer-span {
  color: var(--first-color);
}
.footer-address {
  line-height: 1.71;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact-map {
  color: var(--first-color);
  font-style: normal;
  line-height: 2;
}
.footer-a {
  margin-bottom: 20px;
  display: block;
}
.footer-contact {
  font-family: Roboto;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact:hover,
.footer-contact:focus {
  color: var(--brand-color);
}
/*--              social box              --*/
.social-box {
  margin-left: 70px;
}
.social-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}
.social-list {
  display: flex;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  height: 20px;
  width: 20px;
  fill: var(--first-color);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--brand-color);
}
/*--             Subscription box                     --*/
.subscription-box {
  margin-left: 93px;
}
.subscription-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 20px;
}
.subscription-form {
  display: flex;
}
.subscription-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background: #2f303a;
  border-radius: 4px;
  margin-right: 12px;
  width: 358px;
  color: var(--first-color);
  outline: none;
  padding: 15px 16px;
}
.subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/*--                 INDEX.HTML                              --*/
/*--                    Hero                            --*/
.hero {
  background-color: #e5e5e5;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg-hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
}
.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
  width: 700px;
  height: 120px;
  margin-bottom: 30px;
}
.hero-btn {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}
/*--                     Особенности                  --*/
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.benefits-box {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-basis: calc(100% / 4 - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.benefits-icon {
  width: 70px;
  height: 70px;
}
.benefits-item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}
.benefits-list-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits-list-post-title {
  line-height: 1.71;
}
/*--                       Чем мы занимаемся                 --*/
.about {
  padding-top: 0;
}
.about-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.about-box {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
  position: relative;
}
.about-list-title {
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--first-color);
  background: rgba(47, 48, 58, 0.8);
  padding: 27px;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 700;
}
/*--                      Наша команда                         --*/
.team {
  background-color: #f5f4fa;
}
.team-item {
  background-color: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.team-text {
  padding: 30px;
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.team-list-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  color: var(--second-color);
  margin-bottom: 16px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-contact-item:not(:last-child) {
  margin-right: 10px;
}
.team-contact-link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: --first-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-contact-icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-contact-link:hover,
.team-contact-link:focus {
  background-color: var(--brand-color);
  color: var(--first-color);
}
/*--             Clients             --*/
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link {
  height: 92px;
  width: 170px;
  border: 1px solid currentColor;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  height: 60px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:focus,
.clients-link:hover {
  color: var(--brand-color);
}
.clients-icon:focus,
.clients-icon:hover {
  color: var(--brand-color);
}
/*--             PORTFOLIO.HTML              --*/
.portfolio-title {
  display: none;
}
/*--                          Main                      --*/
.search-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.search-item:not(:last-child) {
  margin-right: 8px;
}
.search-btn
 {
  background-color: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.17;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  background: var(--brand-color);
  color: var(--first-color);
}
.search-btn:hover,
.search-btn:focus {
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--first-color);
}
.all-btn:hover,
.all-btn:focus {
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--first-color);
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.product-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
.product-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-link:hover,
.product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-box-shadow {
  box-shadow: inherit;
}
.product-title-box {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: content-box;
  padding: 20px 24px;
}
.product-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--third-color);
}
.product-post-title {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-color);
}
.product-description-box {
  position: relative;
  overflow: hidden;
}
.product-description {
  position: absolute;
  top: 0;
  padding: 24px 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-description-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--first-color);
}
.product-link:hover .product-description {
  transform: translateY(0);
}
.product-description::-webkit-scrollbar {
  width: 10px;
}
.product-description::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
}
.product-description::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  outline: 1px solid var(--second-color);
}
