:root {
  --brand-color: #2196f3;
  --first-color: #ffffff;
  --second-color: #757575;
  --third-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--third-color);
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.03em;
  background-color: var(--first-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}

/* --                    Header                        -- */
header {
  line-height: 1.14;
  border-bottom: 1px solid #ececec;
}

.header-box {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}
.nav-a {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.nav-span {
  color: var(--third-color);
}

.nav-list {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-right: 331px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-link-studio {
  color: var(--brand-color);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--brand-color);
}

.header-address {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header-contact-mail,
.header-contact,
.header-contact-tel {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-contact-mail {
  color: var(--brand-color);
  margin-right: 50px;
}

.header-contact-tel {
  margin-left: 50px;
}

.header-contact-tel:hover,
.header-contact-tel:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--brand-color);
}

/*--                    FOOTER                        --*/
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-span {
  color: var(--first-color);
}

.footer-address {
  line-height: 1.71;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact-map {
  color: var(--first-color);
  font-style: normal;
  line-height: 2;
}

.footer-a {
  margin-bottom: 20px;
  line-height: 2.59;
}

.footer-contact {
  font-family: Roboto;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--brand-color);
}

.footer-contact-map:hover,
.footer-contact-map:focus {
  color: var(--brand-color);
}

/*--                 INDEX.HTML                              --*/
/*--                    Hero                            --*/
.hero {
  background: #2f303a;
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
  width: 700px;
  height: 120px;
  margin-bottom: 30px;
}

.hero-btn {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--first-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

/*--                     Особенности                  --*/
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.benefits-item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}

.benefits-list-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-list-post-title {
  line-height: 1.71;
}

/*--                       Чем мы занимаемся                 --*/
.about {
  padding-bottom: 94px;
}

.about-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.about-item {
  margin-left: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

/*--                      Наша команда                         --*/
.team {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-item {
  background: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: 5px;
}

.team-list-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.19;
  color: var(--second-color);
  padding: 5px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-text {
  padding: 25px;
}

/*--             PORTFOLIO.HTML              --*/
.portfolio-title {
  display: none;
}

/*--                 Header                 --*/
.nav-link-portfolio {
  color: var(--brand-color);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
}

/*--                          Main                      --*/
.portfolio {
  padding: 94px 0;
}

.search-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.search-item:not(:last-child) {
  margin-right: 8px;
}

.search-btn,
.all-btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 2.17;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
}

.all-btn {
  background: var(--brand-color);
  color: var(--first-color);
}

.all-btn,
.search-btn:hover,
.search-btn:focus {
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--first-color);
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.product-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.product-box-shadow {
  box-shadow: inherit;
}

.product-title-box {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: content-box;
  padding: 20px 24px;
}

.product-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--third-color);
}

.product-post-title {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-color);
}
