:root {
  --brand-color: #2196f3;
  --first-color: #ffffff;
  --second-color: #757575;
  --third-color: #212121;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--third-color);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}

/*--------------------Header-----------------*/
.nav-span {
  color: var(--third-color);
}

.nav-link {
  color: inherit;
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--brand-color);
}

.header-contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--brand-color);
}

/*------------------FOOTER-------------------------------*/
.footer {
  background: #2f303a;
}

.footer-span {
  color: var(--first-color);
}

.footer-link {
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
  color: var(--first-color);
}

.footer-contact {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

/*--------------------INDEX.HTML-----------------*/

/*----------------------------Hero----------------------------*/
.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-color);
}

.hero-btn {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #188ce8;
}

/*---------------Особенности---------------*/
.benefits-title {
  display: none;
}

.benefits-list-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits-list-post-title {
  line-height: 1.71;
}

/*---------------Чем мы занимаемся-----------*/
.about-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*---------------Наша команда--------------------*/
.team {
  background: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team-item {
  background: var(--first-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-post-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-color);
}

/*---------------PORTFOLIO.HTML-----*/

/*---------------Hero-----*/
.portfolio-title {
  display: none;
}

.search-btn {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}

.search-btn:hover,
.search-btn:focus {
  background: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--first-color);
}

.product-item {
  background: var(--first-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.product-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-post-title {
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-color);
}
