.footer {
    background: #2f303a;
    padding: 60px 0;
  }
  .footer__wrap {
    display: flex;
    align-items: baseline;
  }
  .footer__span {
    color: var(--first-color);
  }
  .footer__logo {
    margin-bottom: 20px;
    display: block;
  }
  .address {
    line-height: 1.71;
  }
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .address__link {
    color: var(--first-color);
    font-style: normal;
    line-height: 2;
  }
  .address__contact {
    font-family: Roboto;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address__contact:hover,
  .address__contact:focus {
    color: var(--brand-color);
  }
  /*--              social             --*/
  .social {
    margin-left: 70px;
  }
  .social__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--first-color);
    margin-bottom: 20px;
  }
  .social__list {
    display: flex;
  }
  .social__item:not(:last-child) {
    margin-right: 10px;
  }
  .social__link {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__icon {
    height: 20px;
    width: 20px;
    fill: var(--first-color);
  }
  .social__link:hover,
  .social__link:focus {
    background-color: var(--brand-color);
  }
  /*--             Subscription box                     --*/
  .subscription {
    margin-left: 93px;
  }
  .subscription__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--first-color);
    margin-bottom: 20px;
  }
  .subscription__form {
    display: flex;
  }
  .subscription__input {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background: #2f303a;
    border-radius: 4px;
    margin-right: 12px;
    width: 358px;
    color: var(--first-color);
    outline: none;
    padding: 15px 16px;
  }
  .subscription__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscription__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }