:root {
    --brand-color: #2196f3;
    --first-color: #ffffff;
    --second-color: #757575;
    --third-color: #212121;
    --icon-color: #afb1b8;
    --bg-color: #f5f4fa;
    --btn-hover: #188ce8;
  }